<app-common-table
    [title]="'Sub Category Management'"
    [genericColsInput]="tableColsEvent"
    [genericTableSettingInput]="tableSettingsEvent"
    [genericListInput]="eventList"
    (addEntityEvent)="addEvent()"
    (paginateEvent)="paginateEvent($event)"
    [totalRecords]="totalRecords"
    (editEntityEvent)="EditEvent($event)"
    [placeholder]="searchPlaceholder"
    (activeDataEvent)="activeEntity($event)"
    (deactiveDataEvent)="deactiveEntity($event)"
    (deleteDataEvent)="deleteEvent($event)"
    (filterEntityEvent)="openSidebar()"
>
    <!-- (searchEntityEvent)="searchData($event)" -->
    <!-- <span search class="p-input-icon-left mb-2 searchGeneric">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Project Name" class="w-full form-control"/>
    </span> -->
</app-common-table>

<p-sidebar
    [(visible)]="visibleSidebar"
    position="right"
    [transitionOptions]="'100ms'"
>
    <div class="mb-5" *ngFor="let filter of statusList">
        <span *ngIf="filter.fieldType == 'dropdown'">
            <p class="mb-2 f-normal">{{ filter.defaultLabel }}</p>
            <p-dropdown
                (onChange)="onDropdownChange($event)"
                inputId="dropdown"
                appendTo="body"
                [options]="filter.filterLookupList"
                optionLabel="lookupId"
                [autoDisplayFirst]="false"
                [(ngModel)]="product[filter.fieldName]"
                Placeholder="{{ filter.defaultLabel }}"
            ></p-dropdown>
        </span>
    </div>
    <div class="mt-5">
        <button
            pButton
            pRipple
            type="button"
            (click)="searchFilter()"
            class="searchbtn p-button-info w-50 mr-2 justify-center"
        >
            Search
        </button>
        <button
            pButton
            pRipple
            type="button"
            (click)="resetFilter()"
            class="searchbtn p-button-danger w-50 justify-center"
        >
            Reset
        </button>
    </div>
</p-sidebar>

<app-common-modal
    [title]="titleEVent"
    [dynamicWidth]="dialogWidth"
    [visible]="openAddDialogModuleEvent"
    [closable]="true"
    (closeEvent)="closeEventDialog()"
>
    <app-add-sub-category
        [hideButton]="hideButtonView"
        (saveEvents)="saveEventDialog()"
        [eventData]="category"
        (close)="closeEventDialog()"
        *ngIf="openAddDialogModuleEvent"
        body
    >
    </app-add-sub-category>
</app-common-modal>
